{% extends 'home/base.html' %}

{% block content %}
    <div class="text-center">Hola! Mi nombre es José Azócar Berríos, tengo 25 años y soy sociólogo de profesión. Dentro de mis gustos personales se encuentran la lectura y el cuidado de plantas.
        He creado "Bukin" con el fin de habilitar un espacio para quienes disfrutamos de la lectura y queremos estar descubriendo nuevos libros y autores. 
    En el futuro me gustaría que "Bukin" creciera como una plataforma y como comunidad, que contenga distintas funciones con el fin de ser
   consolidar un espacio grato para l@s usuari@s.  </div>
    <div class="text-center">Si deseas contactarme, mi correo es azocarberrios.j@gmail.com</div>
{% endblock %}
