{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="d-flex align-items-center">Hola {{ user.username }} :-)!  
           
            {% if user.vendedor.avatar.url %}
                <img src="{{ user.vendedor.avatar.url }}" alt="Avatar" style="height: 50px;" /> 
            {% else %}
                <img src="{% static 'venta/avatares.png' %}" alt="avatar" style="height: 50px;" />
            {% endif %}  
        </h3>
    {% endif %}
    {% if messages %}{{ messages }}{% endif %}
    {% if user.is_staff %}
        <div class="row">
            <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Configurar sitio</a>
        </div>
        <div class="row">
            <a href="{% url 'home:register' %}" class="btn btn-outline-dark">Registrar nuevo usuario</a>
        </div>
    {% endif %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">

        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Bienvenid@ a Bukin! :-)</h1>
            <p>
                Bukin es una plataforma para quienes disfrutan la lectura y estan buscando conocer distintos libros y autores.
                Aquí publicaremos libros que hemos encontrado con un precio justo a la calidad del producto.
                Esperamos que lo pases muy bien aquí!
            </p>
        </div>
    </div>
{% endblock content %}
