{% extends 'home/base.html' %}

{% block content %}
    <h1 class="text-right">Menú principal de Bukin</h1>
    <div class="container mt-lg-3">
        <h3 class="pb-lg-3">

        {% block content_producto %}
            <div class="d-grid gap-3">
                {% if user.is_staff %}
                    <a href="{% url 'producto:producto_create' %}"
                       class="btn btn-primary">Haz una publicación</a>
             
                {% endif %}
                <a href="{% url 'producto:producto_list' %}"
                   class="btn btn-primary">Ingresa al listado</a>
               
                <br>
            </div>        
                
               
                <br>
            </div>
        {% endblock content_producto %}
        <div class="d-grid gap-3">
            <a href="{% url 'home:index' %}" class="btn btn-info">Vuelve al Home</a>
        </div>
    </div>
{% endblock content %}
